
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // WARNING: These rules are completely open and are not secure.
    // They are intended for early development and testing only.
    // Before deploying your app to production, you MUST replace these
    // with secure rules.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
